


h1 {
    background-color: aqua;
}

/* main table styling*/
table { 
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: 3px solid black; 
    width: 100%;
}

/* main header row*/
th {
    border: 2px solid black;
    text-align: left;
    /* text-alight - is with in each cell */
    padding: 5px;
}

/* general data cell styling*/
td {
    border: 1px solid black;
    text-align: left;
    padding: 5px;
}

/* adding fun color to EVEN tables header*/
tr:nth-child(even) { 
    background-color: light gray;
    /* background-color: hotpink; */
}

/*adding fun color to ODD tables placeholder row*/ 
tr:nth-child(odd) { 
    background-color: white;
    /* background-color: lightcoral; */
}


