


h1 {
    background-color: aqua;
}

/* main table styling*/
table { 
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: 3px solid black; 
    width: 100%;
}

/* main header row*/
th {
    border: 2px solid black;
    text-align: center;
    /* text-alight - is with in each cell */
    padding: 5px;
    width: 20%;
    background-color: lightblue;
}

/* general data cell styling*/
td {
    border: 1px solid black;
    text-align: left;
    padding: 5px;
    /* background-color: blueviolet; */
}


/* adding fun color to EVEN tables header*/
tr:nth-child(even) { 
    background-color: rgb(0, 94, 255);
}

/*adding fun color to ODD tables placeholder row*/ 
tr:nth-child(odd) { 
    background-color: lightcoral;
    /* background-color: lightcoral; */
}

/* class for the WHOLE total monthly calculator */
.totalMonthlyBox { 
    font-style: italic;
}


.mainInputContainer {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100vw;
}

.inputs {
    width: 100%;
}

